<style>
/* *{
  color:coral; /* allies changes to the whole html doc*/
/* } */ */

/* p{
  colore:rgb(142, 153, 59);
} */

 
body{
margin:50px;/*  left align margin  */
}


table {
    width: 50%;
    border-collapse: collapse;
    /* border: 2px solid rgb(126, 11, 11); Style for red margin around table */
    margin: 50px ;
    table-layout: fixed; Add this line*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: medium;
    color: brown;
    background-color: rgb(203, 220, 240);
     
  }
  
 
  .header-border-red {
    border: 2px solid rgb(13, 80, 135);
    /* border-style: dotted; */
    
  }

  .td-border-red {
    border: 2px solid rgb(151, 64, 5);
    /* border-style: dotted; */
    
  }

  /* .border-red{
    border: 2px solid red;
  } */
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
     
  }
  
  th {
    background-color: hsl(124, 47%, 79%);
    color: white;
  }
  
 
tr:nth-child(even) {
    background-color: #f6f0f0; /* Style for even rows */
  }

tr:nth-child(odd) {
    background-color: #f0eaea; /* Style for odd rows */
  }
   
.bg-aquamarine{
  background-color: aquamarine;
}
.bg-lightblue{
  background-color:lightblue;
}

.bg-lightgray{
  background-color:lightgray;
}
.subheader2{
  background-color: rgb(55, 56, 48);
  color:yellow;
}
</style>