<style>

body {
    background-color: #f0f0f0; /* Light gray background */
}

table {
    width: 100%;
    border-collapse: collapse; /* Removes the double borders */
    table-layout: fixed;
    
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add a bottom border to all table cells */
    }

th {
    background-color: #63a165; /* Green background */
    color: white; /* White text */
    }

tr:nth-child(even) {
    background-color: #f2f2f2; /* Every even row has a light gray background */
    }

tr:hover {
    background-color: #ddd; /* Change background color on hover */
    }
 
</style>